.main_section {
  margin: 0 4rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.text {
  margin-top: 8rem;
  line-height: 1.5;
  width: 100%;
}

.text h1 {
  text-align: center;
}

.text h2 {
  text-align: center;
  font-weight: 400;
}

.text .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text .name .descr {
  z-index: 2;
}

.text .id {
  text-align: center;
  font-style: italic;
  color: #919191;
}

.text .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 6% 0;
  gap: 15px;
}

.text .circle a {
  text-decoration: none;
}

.text .circle .discount,
.noDiscount {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  z-index: -1;
  font-weight: 800;
  background-color: #5cc19e;
  color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text .discount:hover {
  background-color: #1eab7a;
}

.text .circle .discount p,
.noDiscount p {
  color: #fff;
}

#tooltip {
  position: absolute;
  padding: 5px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  display: none;
  pointer-events: none;
}

/* ..............................Product_display.............................. */

#quad_mobile,
#expandedImg {
  display: none;
}

div#quad {
  width: 100%;
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#quad figure {
  margin: 3px;
  width: 70%;
  height: auto;
  transition: 1s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

div#quad figure:hover {
  cursor: pointer;
  z-index: 4;
}

div#quad figure.expanded img:hover {
  cursor: zoom-out;
}

div#quad figure img {
  width: 100%;
  height: auto;
}

div#quad figure img:hover {
  cursor: zoom-in;
}

div#quad figure:nth-child(1) {
  transform-origin: top;
}

div#quad figure:nth-child(2) {
  transform-origin: center;
}

div#quad figure:nth-child(3) {
  transform-origin: bottom;
}

.expanded {
  transform: scale(1.2);
  z-index: 5;
}

div.full figure:not(.expanded) {
  pointer-events: none;
}

/* ..............................Button.............................. */

a {
  text-decoration: none;
}

a button {
  all: unset;
  padding: 2%;
  background-color: #ff857a;
  color: white;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 3%;
  width: 70%;
}

a button:hover {
  background-color: #ff5949;
  box-shadow: none;
}

/* ..............................Media Query.............................. */

@media (max-width: 1024px) {
  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .text {
    margin-left: 5%;
    margin-right: 5%;
  }

  .text .txt {
    text-align: justify;
    padding: 0;
  }

  /* ..............................Product_display.............................. */

  #expandedImg {
    position: fixed;
    z-index: 100;
    top: 25vh;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    border: 0.5px solid #5f5f5f;
  }

  div#quad {
    display: none;
  }

  #quad_mobile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #quad_mobile figure {
    margin: 3px;
    width: 100%;
    height: auto;
    transition: 1s;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  #quad_mobile figure:hover {
    cursor: pointer;
    z-index: 4;
  }

  #quad_mobile figure.expanded img:hover {
    cursor: zoom-out;
  }

  #quad_mobile figure img {
    width: 100%;
    height: auto;
  }

  #quad_mobile figure img:hover {
    cursor: zoom-in;
  }

  #quad_mobile figure:nth-child(1) {
    transform-origin: top;
  }

  #quad_mobile figure:nth-child(2) {
    transform-origin: center;
  }

  #quad_mobile figure:nth-child(3) {
    transform-origin: bottom;
  }

  .expanded {
    transform: scale(1.5);
    z-index: 5;
  }

  div.full figure:not(.expanded) {
    pointer-events: none;
  }

  /* ..............................Button.............................. */

  a button {
    padding: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}

@media (max-width: 900px) {
  .text {
    margin-top: 3vh;
  }

  .text .txt {
    margin-top: 0;
  }

  .text .name .descr .nameEN {
    font-weight: 800;
    text-align: center;
    margin: 0 10px;
  }

  .text .circle {
    gap: 1%;
  }

  .text .circle .discount,
  .noDiscount {
    min-width: 115px;
    min-height: 115px;
    max-width: 115px;
    max-height: 115px;
  }
}
